{
	"clientId": "",
	"token": "DISCORD_TOKEN",
	"playing": "Linking...",
	"admins": [],
	"channels": [
		{
			"id": "DISCORD_CHANNEL",
			"userMentionsMode": 3,
			"channelMentionsMode": 1,
			"roleMentionsMode": 2,
			"authorMode": 2,
			"allowBots": false,
			"allowDump": true,
			"dbHost": "MYSQL_HOST",
			"dbPort": "3306",
			"dbUser": "MYSQL_USER",
			"dbPassword": "MYSQL_PASSWORD",
			"db": "MYSQL_DB",
			"dbTable": "MYSQL_TABLE"
		}
	],
    "events": [
        {
            "guild": "DISCORD_GUILD",
            "creatorMode": 2,
			"dbHost": "MYSQL_HOST",
			"dbPort": "3306",
			"dbUser": "MYSQL_USER",
			"dbPassword": "MYSQL_PASSWORD",
			"db": "MYSQL_DB",
			"dbTable": "MYSQL_TABLE"
        }
    ]
}
